/* .product-detail-container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem; 
    border: 1px solid #cbd5e1; 
    align-self: flex-start; 
    border-radius: 0.5rem; 
  }
  
  .product-detail-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .product-detail-image {
    max-width: 100%;
    max-height: 500px;
    object-fit: contain;
  }
  
  .product-detail-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .product-detail-name {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
  }
  
  .product-detail-brand {
    font-size: 18px;
    color: #555;
  }
  
  .product-detail-price {
    font-size: 24px;
    color: #b12704;
    font-weight: bold;
  }
  
  .product-detail-description {
    font-size: 16px;
    line-height: 1.5;
  } */


  .container{
    display: flex;
    flex-direction: row;
    
  }